* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-evenly;
}

nav {
  height: 70vh;
  width: 300px;
  border: 1px solid #000;
  padding: 40px 20px;
  margin: 40px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todo-container {
  border: 1px solid #000;
  width: 980px;
  height: 80vh;
  padding: 40px 20px;
  margin: 40px 20px;
}
