* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oooh Baby", cursive;
}

main {
  display: flex;
  justify-content: space-evenly;
  background-image: url("./assets/table.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  background-image: url("./assets/texture.jpg");
  background-size: contain;
  background-position: center;
  background-color: rgba(255, 253, 119, 0.2);
  background-blend-mode: multiply;
  height: 70vh;
  min-width: 300px;
  padding: 40px 20px;
  margin: 40px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.sticky-note-button {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 253, 119, 0.2);
  background-image: url("./assets/texture.jpg");
  background-size: contain;
  background-position: center;
  background-blend-mode: multiply;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

@media (max-width: 700px) {
  .sticky-note-button {
    display: flex;
  }

  nav {
    display: none;
    position: fixed;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 80%;
    max-width: 400px;
    /* height: auto; */
    z-index: 2;
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
  }

  nav.show {
    display: flex;
  }
}

nav > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.all-button,
.today-button,
.project-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
  text-align: left;
  line-height: 90%;
}

.todo-container {
  background-image: url("./assets/texture.jpg");
  background-size: contain;
  background-position: center;
  /* border: 1px solid #000; */
  width: 980px;
  height: 80vh;
  padding: 40px 20px;
  margin: 40px 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.todo-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.todo-list-container .todo {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  font-size: 28px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}

nav form {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav form input {
  font-size: 24px;
  width: 200px;
}

.todo-container form input {
  font-size: 28px;
  margin-left: 50px;
}

form input {
  border: none;
  background-color: transparent;
  color: #989898;
}

form input:focus {
  outline: none;
}

form > button,
.delete {
  font-size: 20px;
  padding: 0px 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.delete {
  margin-left: 20px;
}

.delete-project {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6f3d7;
}

.project-container {
  position: relative;
}

.checkbox-wrapper-62 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-62 *,
.checkbox-wrapper-62 ::after,
.checkbox-wrapper-62 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-62 {
  position: relative;
  display: block;
  overflow: hidden;
}
.checkbox-wrapper-62 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}
.checkbox-wrapper-62 .label svg {
  vertical-align: middle;
}
.checkbox-wrapper-62 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.75s all;
}
.checkbox-wrapper-62 .check:checked + label svg g path {
  stroke-dashoffset: 0;
}

.all-button,
.today-button,
.project-button {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.all-button::after,
.today-button::after,
.project-button::after {
  content: url("./assets/star.svg");
  display: none;
  margin-left: 8px;
}

.all-button:hover::after,
.today-button:hover::after,
.project-button:hover::after,
.all-button.active::after,
.today-button.active::after,
.project-button.active::after {
  display: inline;
}
